body {
  background: #006091;
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: #1795d4;
  border-bottom: 10px solid #117ab0;
}

.app-name {
  position: absolute;
  right: 0;
  top: 15px;
  color: #bbdfff;
  font-size: 25px;
  font-family: "Pacifico", cursive;
}

.logo {
  max-width: 150px;
}

.container {
  position: relative;
  max-width: 800px;
  margin: auto;
  padding: 15px 0;
}

main {
  padding: 10px;
}

main .container {
  padding: 30px 10px;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

form {
  text-align: center;
}

input {
  border: none;
  box-shadow: 5px 5px 0px #1694d4;
  margin: 5px;
  font-size: 18px;
  padding: 10px 15px;
}

button[type="submit"] {
  padding: 0;
  border: 0;
  font-size: 29px;
  margin-left: 12px;
  position: relative;
  bottom: -10px;
  padding-top: 0;
  padding-bottom: 8px;
  width: 48px;
  background: #1694d4;
  top: 0px;
  box-shadow: 5px 5px 0 #fff;
  color: #fff;
}

.list {
  max-width: 507px;
  margin: auto;
  text-align: left;
  margin-top: 20px;
}

.alert {
  padding: 13px 15px;
}

.alert--info {
  border: 1px solid #107ab0;
  background: #cfefff;
  color: #107ab0;
}

ol {
  padding: 0;
  list-style: none;
  counter-reset: my-awesome-counter;
}

.item {
  list-style: none;
  background: white;
  padding: 15px;
  box-shadow: 5px 5px 0 #1694d4;
  margin-top: 10px;
  counter-increment: my-awesome-counter;
  position: relative;
}

.item:before {
  content: counter(my-awesome-counter);
  color: #0084c7;
  font-weight: bold;
  position: absolute;
  left: -27px;
  font-size: 27px;
  top: 8px;
}

button {
  cursor: pointer;
}

.item__quantity {
  color: #1893d4;
  font-size: 15px;
  margin-left: 10px;
}

.item__actions {
  float: right;
  margin-right: -5px;
}

.item__actions button {
  height: 30px;
  width: 30px;
  border: 0;
  background: #107ab0;
  border-radius: 100%;
  margin-top: -11px;
  margin-left: 6px;
}

.item__actions button img {
  margin-top: 2px;
}
